In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import csv
from collections import Counter

## 데이터 구조 파악 및 결측치 제거

In [3]:
df = pd.read_csv('C:/study_data/bigdata/[DACON]235745_parking_data/train.csv')
df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [4]:
df.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [6]:
df['임대료'].replace(',','.')

0       103680
1       103680
2       184330
3       184330
4       184330
         ...
2947    116090
2948    142310
2949    142310
2950    142310
2951    151030
Name: 임대료, Length: 2952, dtype: object

In [7]:
# df["임대료"] = df["임대료"].apply(pd.to_numeric)
# df["임대보증금"] = df["임대보증금"].apply(pd.to_numeric)

In [8]:
null_im_df = df['임대료'].isnull()
null_im_df = df[null_im_df]
display(null_im_df)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [9]:
df_not_null = df.dropna(axis=0)
df_not_null

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [10]:
df_not_null = df_not_null.reset_index(drop=True)
df_not_null

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2301,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2302,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2303,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2304,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2305,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [78]:
df = df_not_null

## column 별로 분석

### 단지코드 분석

In [79]:
# 중복 되지 않는 단지 코드의 수
df['단지코드'].nunique()

403

In [80]:
# 가장 많은 단지 코드의 수
df['단지코드'].value_counts()

C2051    23
C2538    19
C2507    18
C2506    17
C1177    16
         ..
C1718     2
C2437     1
C2571     1
C2188     1
C2340     1
Name: 단지코드, Length: 403, dtype: int64

### 총세대수 분석

In [81]:
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306 entries, 0 to 2305
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2306 non-null   object
 1   총세대수                          2306 non-null   int64
 2   임대건물구분                        2306 non-null   object
 3   지역                            2306 non-null   object
 4   공급유형                          2306 non-null   object
 5   전용면적                          2306 non-null   float64
 6   전용면적별세대수                      2306 non-null   int64
 7   공가수                           2306 non-null   float64
 8   자격유형                          2306 non-null   object
 9   임대보증금                         2306 non-null   object
 10  임대료                           2306 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2306 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2306 non-null   float64
 13  단지내주차면수                       2306 non-null   float64
 14  등록차량수                         2306 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 270.4+ KB

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [82]:
# 총세대수를 describe를 사용해서 기본적인 연산들을 파악한다.
df['총세대수'].describe()

count    2306.000000
mean      797.883781
std       435.402022
min        26.000000
25%       492.000000
50%       731.000000
75%      1006.000000
max      2568.000000
Name: 총세대수, dtype: float64

### 임대건물구분 분석

In [83]:
df['임대건물구분'].value_counts()
# 아파트: 2390개 / 상가: 562개

아파트    2306
Name: 임대건물구분, dtype: int64

In [84]:
# fred3은 3번째 column의 분석이고 각 아파트와 상가를 구분해서 fred_apart와 fred_store로 나눈다.
fred3_apart = df['임대건물구분'] == '아파트'
fred3_apart = df[fred3_apart]
fred3_store = df['임대건물구분'] == '상가'
fred3_store = df[fred3_store]

### 지역 분석

In [85]:
df['지역'].unique()

array(['경상북도', '경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '부산광역시',
       '제주특별자치도', '울산광역시', '충청북도', '전라남도', '충청남도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)

In [86]:
# 수집한 지역의 건수가 얼마나 있는지 확인
df['지역'].value_counts()

경기도        621
경상남도       268
충청북도       163
강원도        156
전라남도       151
광주광역시      141
경상북도       119
대전광역시      111
전라북도       109
부산광역시      108
대구광역시      102
제주특별자치도     66
서울특별시       64
세종특별자치시     47
충청남도        44
울산광역시       36
Name: 지역, dtype: int64

### 공급유형 분석

In [87]:
# 수집한 데이터에 공급유형이 
df['공급유형'].value_counts()

국민임대         1727
행복주택          213
공공임대(10년)     198
영구임대          127
공공임대(50년)      20
공공임대(분납)        9
장기전세            9
공공임대(5년)        3
Name: 공급유형, dtype: int64

### 전용면적 분석

In [88]:
df_not_null['전용면적'].describe()

count    2306.000000
mean       44.548781
std        13.122639
min        16.020000
25%        36.640000
50%        46.600000
75%        51.827500
max        84.990000
Name: 전용면적, dtype: float64

In [ ]:
# 데이터의 describe를 확인해본 결과 max값과 mean또는 min값이 괴리감이 크기 때문에 이를 확인해보니 큰 면적의 아파트는 공공임대가 주축이다.
fred6 = df_not_null
fred6 = fred6.sort_values(['전용면적'], ascending=False)
fred6.head(50)