In [31]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import csv
from collections import Counter

## 데이터 구조 파악 및 결측치 제거

In [32]:
df = pd.read_csv('C:/study_data/bigdata/[DACON]235745_parking_data/train.csv')
df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [33]:
df.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [35]:
df['임대보증금'] = pd.to_numeric(df['임대보증금'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2371 non-null   float64
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 346.1+ KB

In [36]:
df['임대료'] = pd.to_numeric(df['임대료'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2371 non-null   float64
 10  임대료                           2362 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 346.1+ KB

In [37]:
df['임대료'].replace(',','.')

0       103680.0
1       103680.0
2       184330.0
3       184330.0
4       184330.0
          ...
2947    116090.0
2948    142310.0
2949    142310.0
2950    142310.0
2951    151030.0
Name: 임대료, Length: 2952, dtype: float64

In [38]:
# df["임대료"] = df["임대료"].apply(pd.to_numeric)
# df["임대보증금"] = df["임대보증금"].apply(pd.to_numeric)

In [39]:
null_im_df = df['임대료'].isnull()
null_im_df = df[null_im_df]
display(null_im_df)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [40]:
df = df.dropna(axis=0)
df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [41]:
df = df.reset_index(drop=True)
df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2281,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2282,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2283,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2284,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [42]:
# 임대보증금과 임대료는 숫자로 써있지만 object타입으로 되어있다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2285 non-null   object
 1   총세대수                          2285 non-null   int64
 2   임대건물구분                        2285 non-null   object
 3   지역                            2285 non-null   object
 4   공급유형                          2285 non-null   object
 5   전용면적                          2285 non-null   float64
 6   전용면적별세대수                      2285 non-null   int64
 7   공가수                           2285 non-null   float64
 8   자격유형                          2285 non-null   object
 9   임대보증금                         2285 non-null   float64
 10  임대료                           2285 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2285 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2285 non-null   float64
 13  단지내주차면수                       2285 non-null   float64
 14  등록차량수                         2285 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 267.9+ KB

In [43]:
df['임대보증금']

0       15667000.0
1       15667000.0
2       27304000.0
3       27304000.0
4       27304000.0
           ...
2280    11346000.0
2281    14005000.0
2282    14005000.0
2283    14005000.0
2284    14830000.0
Name: 임대보증금, Length: 2285, dtype: float64

## column 별로 분석

### 단지코드 분석

In [44]:
# 중복 되지 않는 단지 코드의 수
df['단지코드'].nunique()

401

In [45]:
# 가장 많은 단지 코드의 수
df['단지코드'].value_counts()

C2051    23
C2538    19
C2507    18
C2506    17
C1177    16
         ..
C1786     1
C2188     1
C2340     1
C2437     1
C2571     1
Name: 단지코드, Length: 401, dtype: int64

### 총세대수 분석

In [46]:
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2285 non-null   object
 1   총세대수                          2285 non-null   int64
 2   임대건물구분                        2285 non-null   object
 3   지역                            2285 non-null   object
 4   공급유형                          2285 non-null   object
 5   전용면적                          2285 non-null   float64
 6   전용면적별세대수                      2285 non-null   int64
 7   공가수                           2285 non-null   float64
 8   자격유형                          2285 non-null   object
 9   임대보증금                         2285 non-null   float64
 10  임대료                           2285 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2285 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2285 non-null   float64
 13  단지내주차면수                       2285 non-null   float64
 14  등록차량수                         2285 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 267.9+ KB

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0

In [47]:
# 총세대수를 describe를 사용해서 기본적인 연산들을 파악한다.
df['총세대수'].describe()

count    2285.000000
mean      796.922538
std       433.373356
min        26.000000
25%       492.000000
50%       720.000000
75%      1006.000000
max      2568.000000
Name: 총세대수, dtype: float64

### 임대건물구분 분석

In [48]:
df['임대건물구분'].value_counts()
# 아파트: 2390개 / 상가: 562개

아파트    2285
Name: 임대건물구분, dtype: int64

In [49]:
# fred3은 3번째 column의 분석이고 각 아파트와 상가를 구분해서 fred_apart와 fred_store로 나눈다.
fred3_apart = df['임대건물구분'] == '아파트'
fred3_apart = df[fred3_apart]
fred3_store = df['임대건물구분'] == '상가'
fred3_store = df[fred3_store]

### 지역 분석

In [50]:
df['지역'].unique()

array(['경상북도', '경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '부산광역시',
       '제주특별자치도', '울산광역시', '충청북도', '전라남도', '충청남도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)

In [51]:
# 수집한 지역의 건수가 얼마나 있는지 확인
df['지역'].value_counts()

경기도        621
경상남도       268
충청북도       163
강원도        152
전라남도       151
광주광역시      141
경상북도       119
대전광역시      111
전라북도       109
부산광역시      103
대구광역시       99
제주특별자치도     66
서울특별시       55
세종특별자치시     47
충청남도        44
울산광역시       36
Name: 지역, dtype: int64

### 공급유형 분석

In [52]:
# 수집한 데이터에 공급유형이 
df['공급유형'].value_counts()

국민임대         1719
행복주택          209
공공임대(10년)     198
영구임대          127
공공임대(50년)      20
공공임대(분납)        9
공공임대(5년)        3
Name: 공급유형, dtype: int64

### 전용면적 분석

In [53]:
df['전용면적'].describe()

count    2285.000000
mean       44.605217
std        13.104544
min        16.020000
25%        36.640000
50%        46.610000
75%        51.830000
max        84.990000
Name: 전용면적, dtype: float64

In [54]:
# 데이터의 describe를 확인해본 결과 max값과 mean또는 min값이 괴리감이 크기 때문에 이를 확인해보니 큰 면적의 아파트는 공공임대가 주축이다.
fred6 = df
fred6 = fred6.sort_values(['전용면적'], ascending=False)
fred6.head(30)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
1344,C1344,424,아파트,서울특별시,공공임대(분납),84.99,100,0.0,A,142744000.0,361800.0,0.0,3.0,467.0,509.0
2013,C1697,526,아파트,경기도,공공임대(10년),84.99,188,4.0,A,75000000.0,390000.0,0.0,3.0,727.0,854.0
2019,C2259,947,아파트,경기도,공공임대(10년),84.99,290,5.0,A,75000000.0,390000.0,0.0,2.0,1306.0,1378.0
1891,C1941,404,아파트,경상남도,공공임대(10년),84.99,252,19.0,A,47288000.0,627080.0,0.0,3.0,490.0,600.0
1985,C2595,867,아파트,경상남도,공공임대(10년),84.98,8,2.0,A,54000000.0,620000.0,0.0,5.0,897.0,1359.0
1807,C1636,632,아파트,경기도,공공임대(10년),84.98,382,7.0,A,79500000.0,630000.0,0.0,20.0,750.0,946.0
1424,C1804,478,아파트,경기도,공공임대(10년),84.98,3,3.0,A,90237000.0,597820.0,0.0,3.0,629.0,951.0
2129,C1756,404,아파트,울산광역시,공공임대(10년),84.98,49,1.0,A,55000000.0,620000.0,0.0,3.0,486.0,609.0
2118,C1544,442,아파트,대구광역시,공공임대(10년),84.98,215,10.0,A,53000000.0,490000.0,0.0,2.0,533.0,713.0
1550,C1740,783,아파트,경상북도,공공임대(10년),84.98,78,29.0,A,46000000.0,580000.0,0.0,6.0,978.0,979.0
2126,C2496,818,아파트,전라북도,공공임대(10년),84.98,80,0.0,A,69000000.0,590000.0,0.0,3.0,995.0,1400.0
2130,C1756,404,아파트,울산광역시,공공임대(10년),84.98,25,1.0,A,55000000.0,620000.0,0.0,3.0,486.0,609.0
1806,C1636,632,아파트,경기도,공공임대(10년),84.97,48,7.0,A,79500000.0,630000.0,0.0,20.0,750.0,946.0
1805,C1636,632,아파트,경기도,공공임대(10년),84.97,74,7.0,A,79500000.0,630000.0,0.0,20.0,750.0,946.0
1343,C1344,424,아파트,서울특별시,공공임대(분납),84.97,42,0.0,A,145264000.0,368190.0,0.0,3.0,467.0,509.0
2117,C1544,442,아파트,대구광역시,공공임대(10년),84.97,81,10.0,A,53000000.0,490000.0,0.0,2.0,533.0,713.0
2127,C1756,404,아파트,울산광역시,공공임대(10년),84.97,305,1.0,A,55000000.0,620000.0,0.0,3.0,486.0,609.0
2128,C1756,404,아파트,울산광역시,공공임대(10년),84.97,25,1.0,A,55000000.0,620000.0,0.0,3.0,486.0,609.0
1423,C1804,478,아파트,경기도,공공임대(10년),84.97,13,3.0,A,90237000.0,597820.0,0.0,3.0,629.0,951.0
1693,C1402,344,아파트,충청북도,공공임대(10년),84.97,99,16.0,A,57000000.0,560000.0,0.0,2.0,344.0,498.0
1544,C1024,680,아파트,서울특별시,공공임대(10년),84.96,17,2.0,A,117309000.0,1058030.0,0.0,3.0,877.0,957.0
2007,C2506,1124,아파트,대구광역시,공공임대(10년),84.96,40,14.0,A,65000000.0,640000.0,0.0,3.0,1201.0,1433.0
1890,C1941,404,아파트,경상남도,공공임대(10년),84.96,16,19.0,A,47288000.0,627080.0,0.0,3.0,490.0,600.0
1555,C2620,1029,아파트,전라남도,공공임대(10년),84.96,239,28.0,A,37764000.0,590000.0,0.0,6.0,1061.0,1709.0
1558,C1286,919,아파트,전라남도,공공임대(10년),84.96,634,27.0,A,35700000.0,590000.0,0.0,2.0,988.0,881.0
1844,C2040,198,아파트,충청북도,공공임대(10년),84.95,150,11.0,A,58000000.0,560000.0,0.0,2.0,200.0,336.0
1342,C1344,424,아파트,서울특별시,공공임대(분납),84.95,39,0.0,A,143545000.0,363840.0,0.0,3.0,467.0,509.0
1597,C2405,600,아파트,경상남도,공공임대(10년),84.95,182,22.0,A,44868000.0,636400.0,0.0,8.0,728.0,1240.0
1557,C1286,919,아파트,전라남도,공공임대(10년),84.94,93,27.0,A,35700000.0,590000.0,0.0,2.0,988.0,881.0
1889,C1941,404,아파트,경상남도,공공임대(10년),84.94,72,19.0,A,47288000.0,627080.0,0.0,3.0,490.0,600.0

### 공가수 분석

In [55]:
df['공가수'].describe()

count    2285.000000
mean       14.338731
std        10.510062
min         0.000000
25%         7.000000
50%        13.000000
75%        21.000000
max        55.000000
Name: 공가수, dtype: float64

In [56]:
# 대체적으로 40이상의 공가수는 15개 아파트가 채 안된다. 현재 아파트의 공가수가 크게 여유있는 편이 아닌것같다. 즉 대량의 이사가 많이 일어나는 편은 아니다.
df['공가수'].value_counts()

13.0    214
7.0     191
2.0     114
4.0     101
9.0      94
15.0     93
16.0     93
21.0     93
10.0     89
1.0      85
0.0      85
14.0     84
3.0      76
17.0     70
8.0      58
22.0     54
28.0     52
20.0     48
19.0     47
6.0      38
23.0     37
26.0     37
12.0     36
29.0     36
32.0     35
18.0     32
24.0     31
5.0      28
11.0     28
25.0     23
27.0     20
30.0     19
36.0     18
46.0     14
38.0     13
31.0     13
33.0     12
40.0     11
37.0     11
49.0      9
47.0      8
39.0      8
55.0      8
34.0      7
41.0      4
42.0      4
35.0      4
Name: 공가수, dtype: int64

### 자격유형 분류

In [57]:
df['자격유형'].unique()

array(['A', 'B', 'C', 'F', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O'], dtype=object)

In [58]:
def Qualification_type(type):
    fred9_type = df['자격유형'] == type
    fred9_type = df[fred9_type]

    return fred9_type

def print_fred9(fred9_type):

    return fred9_type.head(3)

fred9_A = Qualification_type('A')
fred9_B = Qualification_type('B')
fred9_C = Qualification_type('C')
fred9_F = Qualification_type('F')
fred9_E = Qualification_type('E')
fred9_G = Qualification_type('G')
fred9_H = Qualification_type('H')
fred9_I = Qualification_type('I')
fred9_J = Qualification_type('J')
fred9_L = Qualification_type('L')
fred9_M = Qualification_type('M')
fred9_N = Qualification_type('N')
fred9_O = Qualification_type('O')


# fred9_A
# fred9_B
# fred9_C
# fred9_F
# fred9_E
# fred9_G
# fred9_H
# fred9_I
# fred9_J
# fred9_L
# fred9_M
# fred9_N
# fred9_O


#  각 자기 유형별을 어떤 식으로 나눠야 할 지 모르겠다. 어떠한 패턴을 확인할 수 있는지 고민중

### 임대보증금 분석

In [59]:
fred10 = df['임대보증금']
fred10.describe()

count    2.285000e+03
mean     2.651032e+07
std      1.927493e+07
min      3.056000e+06
25%      1.455500e+07
50%      2.102700e+07
75%      3.245900e+07
max      1.940800e+08
Name: 임대보증금, dtype: float64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2285 non-null   object
 1   총세대수                          2285 non-null   int64
 2   임대건물구분                        2285 non-null   object
 3   지역                            2285 non-null   object
 4   공급유형                          2285 non-null   object
 5   전용면적                          2285 non-null   float64
 6   전용면적별세대수                      2285 non-null   int64
 7   공가수                           2285 non-null   float64
 8   자격유형                          2285 non-null   object
 9   임대보증금                         2285 non-null   float64
 10  임대료                           2285 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2285 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2285 non-null   float64
 13  단지내주차면수                       2285 non-null   float64
 14  등록차량수                         2285 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 267.9+ KB